<div>

<paper-button class="parent-link" data-template="browse:parent-collection">
            <iron-icon icon="icons:arrow-upward"/>
            <pb-i18n key="browse.up">Up</pb-i18n>
        </paper-button>
<h2 class="tp-title">
        <pb-i18n key="collection.nachlass.title">August Boeckh - Catalogue of his papers</pb-i18n>
    </h2> 
<div class="collection-corpus" data-template="browse:clear-facets">
    <ul class="documents">
    
         <a href="index_nachlassprojekt.html?collection=nachlassprojekt%2Fcorpus">
        <li class="document">
        <div class="thumbnail">
                <img src="resources/images/corpus/corpus_boeckh.png" width="150"/>
            </div>
            <div class="document-info">
                <h3>
                            <pb-i18n key="collection.corpus.title">Edited texts</pb-i18n>
                </h3>
                <p>
                        <pb-i18n key="collection.nachlass.collection">The texts are not yet transcribed and the metadata are the only available informations.</pb-i18n>
                    </p>
            </div>
        </li>
        </a>
        
        <a href="#" data-collection="bi/indexes">
        <li class="document">
        <div class="thumbnail">
                <img src="resources/images/index/index_boeckh.png" width="150"/>
            </div>
            <div class="document-info">
                <h3>
                            <pb-i18n key="collection.index.title">Indexes</pb-i18n>
                </h3>
                <p>
                        <pb-i18n key="collection.nachlass.index">Organizations, persons, places and publications mentioned in the edition, presented in four separate indexes. (This link leads to the folder of the Berlin intellectuals indexes, as the content is the same).</pb-i18n>
                    </p>
            </div>
        </li>
        </a>
        
        <a href="history/history_boeckh.html" data-template="pages:parse-params">
        <li class="document">
        <div class="thumbnail">
                <img src="resources/images/history/history_boeckh.png" width="150"/>
            </div>
            <div class="document-info">
                <h3>
                            <pb-i18n key="collection.history.title">History</pb-i18n>
                </h3>
                <p>
                        <pb-i18n key="collection.history.desc">More on the context and content of the edition.</pb-i18n>
                    </p>
            </div>
        </li>
        </a>
        
        
    </ul>
</div>
</div>