<div class="collection-all-corpus" data-template="browse:clear-facets">
    <ul class="documents">
    
        <a href="#" data-collection="cds">
        <li class="document">
        <div class="thumbnail">
                <img src="resources/images/collection/constance_de_salm.png" title="Constance de Salm" width="150"/>
            </div>
            <div class="document-info">
                <h3>
                        <pb-i18n key="collection.cds.title">Correspondance of Constance de Salm (1767-1845)</pb-i18n>
                </h3>
                <p>
                    <pb-i18n key="collection.cds.desc">This folder contains the digital edition of letters written and received by Constance de Salm as well as the inventory of letters and the indexes.</pb-i18n>
                </p>
            </div>
        </li>
        </a>
        
        <a href="#" data-collection="rochlitz">
        <li class="document">
        <div class="thumbnail">
                <img src="resources/images/collection/Friedrich_Rochlitz.jpg" title="Friedrich Rochlitz" width="150"/>
            </div>
            <div class="document-info">
                <h3>
                        <pb-i18n key="collection.napoleon.title">Napoleonic wars diary</pb-i18n>
                </h3>
                <p>
                    <pb-i18n key="collection.napoleon.desc">This folder contains the corpus of a war diary kept during the Napoleonic wars.</pb-i18n>
                </p>
            </div>
        </li>
        </a>
        
        <a href="#" data-collection="bi">
        <li class="document">
        <div class="thumbnail">
                <img src="resources/images/collection/chamisso.png" title="Adelbert von Chamisso" width="150"/>
            </div>
            <div class="document-info">
                <h3>
                        <pb-i18n key="collection.intellectuelsberlinois.title">Letters and texts: Intellectual Berlin around 1800</pb-i18n>
                </h3>
                <p>
                    <pb-i18n key="collection.intellectuelsberlinois.desc">This folder contains the corpus and the indexes of letters and texts from Berlin intellectuals between 1800 and 1830.</pb-i18n>
                </p>
            </div>
        </li>
        </a>
        
        <a href="#" data-collection="nachlassprojekt">
        <li class="document">
        <div class="thumbnail">
             <img src="resources/images/collection/boeckh.png" title="August Boeckh" width="150"/>
            </div>
            <div class="document-info">
                <h3>
                        <pb-i18n key="collection.nachlass.title">August Boeckh - Catalogue of his papers</pb-i18n>
                </h3>
                <p>
                    <pb-i18n key="collection.nachlass.desc">This folder contains the catalog of manuscripts and papers from Boeckh.</pb-i18n>
                </p>
            </div>
        </li>
        </a>
        
        <a href="#" data-collection="pec">
        <li class="document">
        <div class="thumbnail">
                <img src="resources/images/collection/Destournelles.png" title="Paul d'Estournelles de Constant" width="150"/>
            </div>
            <div class="document-info">
                <h3>
                        <pb-i18n key="collection.pec.title">Correspondence of Paul d'Estournelles de Constant</pb-i18n>
                </h3>
                <p>
                    <pb-i18n key="collection.pec.desc">This folder contains the corpus and the indexes of Paul d'Estournelles de Constant correspondence, as well as an history of the corpus and information about the project.</pb-i18n>
                </p>
            </div>
        </li>
        </a>
        
        <a href="#" data-collection="maguerre">
        <li class="document">
        <div class="thumbnail">
                <img src="resources/images/collection/CharlesBruneau.png" title="Charles Bruneau" width="150"/>
            </div>
            <div class="document-info">
                <h3>
                        <pb-i18n key="collection.bruneau.title">My War 1914-1918</pb-i18n>
                </h3>
                <p>
                    <pb-i18n key="collection.bruneau.desc">This folder contains the corpus of a war story from World War I.</pb-i18n>
                </p>
            </div>
        </li>
        </a>
        
        <a href="#" data-collection="ehri">
        <li class="document">
        <div class="thumbnail">
                <img src="resources/images/collection/ehri_illustration.jpg" title="European Holocaust Research Infrastructure Logo" width="150px" height="100%"/>
            </div>
            <div class="document-info">
                <h3>
                        <pb-i18n key="collection.ehri.title">Early Holocaust Testimonies</pb-i18n>
                </h3>
                <p>
                    <pb-i18n key="collection.ehri.desc">This folder contains the corpus of early testimonies from victims of the Holocaust.</pb-i18n>
                </p>
            </div>
        </li>
        </a>
        
        <a href="#" data-collection="guidelines">
        <li class="document">
        <div class="thumbnail">
                <img src="resources/images/collection/doc.png" title="Documentation" width="150px" height="100%"/>
            </div>
            <div class="document-info">
                <h3>
                        <pb-i18n key="collection.guidelines.title">Documentation</pb-i18n>
                </h3>
                <p>
                    <pb-i18n key="collection.guidelines.desc">Documentation about the encoding rules for ego document corpus and the operation of the application</pb-i18n>
                </p>
            </div>
        </li>
        </a>
        
    </ul>
</div>