<div>
<paper-button class="parent-link" data-template="browse:parent-collection">
            <iron-icon icon="icons:arrow-upward"/>
            <pb-i18n key="browse.up">Up</pb-i18n>
        </paper-button>
<h2 class="tp-title">
        <pb-i18n key="collection.intellectuelsberlinois.title">Letters and texts: Intellectual Berlin around 1800</pb-i18n>
    </h2> 
<div class="collection-corpus" data-template="browse:clear-facets">
    <ul class="documents">
        
        <a href="index_bi.html?collection=bi%2Fcorpus">
        <li class="document">
        <div class="thumbnail">
                <img src="resources/images/corpus/corpus_bi.png" width="150"/>
            </div>
            <div class="document-info">
                <h3>
                            <pb-i18n key="collection.corpus.title">Edited texts</pb-i18n>
                </h3>
                <p>
                        <pb-i18n key="collection.intellectuelsberlinois.collection">The edited texts are mostly letters, but they also include other manuscripts of literary and/or scholarly significance for the intellectual activity in Berlin around 1800.</pb-i18n>
                    </p>
            </div>
        </li>
        </a>
        
        <a href="#" data-collection="bi/indexes">
        <li class="document">
        <div class="thumbnail">
                <img src="resources/images/index/index_bi.png" width="150"/>
            </div>
            <div class="document-info">
                <h3>
                            <pb-i18n key="collection.index.title">Indexes</pb-i18n>    
                </h3>
                <p>
                        <pb-i18n key="collection.index.desc">Organizations, persons, places and publications mentioned in the edition, presented in four separate indexes.</pb-i18n>
                    </p>
            </div>
        </li>
        </a>
        
        <a href="history/history_bi.html" data-template="pages:parse-params">
        <li class="document">
        <div class="thumbnail">
                <img src="resources/images/history/history_bi.png" width="150"/>
            </div>
            <div class="document-info">
                <h3>
                            <pb-i18n key="collection.history.title">History</pb-i18n>
                </h3>
                <p>
                        <pb-i18n key="collection.history.desc">More on the context and content of the edition.</pb-i18n>
                    </p>
            </div>
        </li>
        </a>
        
         <a href="about/about_bi.html" data-template="pages:parse-params">
        <li class="document">
        <div class="thumbnail">
                <img src="resources/images/about/about_bi.png" width="150"/>
            </div>
            <div class="document-info">
                <h3>
                            <pb-i18n key="collection.about.title">About</pb-i18n>
                </h3>
                <p>
                        <pb-i18n key="collection.about.desc">Further information on partner institutions, funders as well as development and editorial team.</pb-i18n>
                    </p>
            </div>
        </li>
        </a>
    </ul>
</div>
</div>