<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
    <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64"/>

    <title data-template="config:app-title"/>
    <meta name="description" content="Letters"/>

    <link rel="stylesheet" type="text/css" href="resources/fonts/font.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald&amp;display=swap"/>
    <link rel="stylesheet" href="resources/css/discholed.css"/>
    <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"/>
    <script type="module" src="pb-leaflet-map.js" data-template="pages:load-components"/>
    <style>
        .splash {
            background-image: url("../../ressources/images/github.svg"); 
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            visibility: hidden;
            opacity: 0;
            background-color: #212D40;
            background-position: center center;
            background-size: var(--pb-splash-image-size);
            background-repeat: no-repeat;
            transition: visibility 0s linear 300ms, opacity 300ms;
        }
        
        h1 {
            font-family: "Oswald",Verdana,"Helvetica",sans-serif;
            font-weight: 400 !important;
            line-height: 1.2;
        }
        
        pb-page[unresolved]~.splash {
            visibility: visible;
            opacity: 1;
            transition: visibility 0s linear 0s, opacity 300ms;
        }
        body {
            --pb-view-height: calc(100vh - 220px);
            --pb-splash-image-size: 360px auto;
            --pb-splash-background-color: black;
        }

        pb-view {
            font: var(--pb-base-font);
        }
        
        #title-view1 {
                font-size: 20px;
                margin: 3% 0;
                text-align: center;
                }
        
        #view1 {
            flex: 3 0;
            max-width: 60vw;
            margin: 8px 16px;
            height: var(--pb-view-height);
            overflow: auto;
        }

        .content-body {
            position: relative;
            display: flex;
            justify-content: center;
            margin: 0 10px;
        }

        aside {
            flex: 1 0;
            min-width: 360px;
            max-width: 480px;
            margin-right: 16px;
            height: var(--pb-view-height);
            overflow: auto;
        }
        
        pb-facsimile {
            flex: 1 0;
            min-width: 360px;
            max-width: 480px;
            margin-right: 16px;
            height: var(--pb-view-height);
            overflow: auto;
        }

        aside pb-highlight {
            display: block;
            width: 100%;
            padding: 0 2px;
        }

        pb-leaflet-map {
            width: 100%;
            height: 100%;
        }

    </style>
</head>

<body>
    <pb-page data-template="pages:pb-page" locales="resources/i18n/{{ns}}/{{lng}}.json" unresolved="unresolved">
            <pb-document id="document1" data-template="pages:pb-document"/>
            <app-drawer-layout force-narrow="force-narrow">
                <app-drawer data-template="templates:include" data-template-path="templates/drawer.html"/>
                <app-header-layout>
                    <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                        <app-toolbar data-template="templates:include" data-template-path="templates/menu.html"/>
                        <!-- Overwrite toolbar to add metadata toggle -->
                        <app-toolbar data-template="templates:include" data-template-path="templates/toolbar_letters.html"/>
                    </app-header>
                    
                            
                    <pb-drawer toggle="tocToggle" class="toc" emit="toc" subscribe="transcription">
                        <div class="drawer-content">
                            <pb-load id="toc" url="api/document/{doc}/contents?target=transcription&amp;icons=true" expand="expand" src="document1" subscribe="toc" load-once="load-once">
                                <pb-i18n key="dialogs.loading">Loading</pb-i18n>
                            </pb-load>
                        </div>
                    </pb-drawer>
                   
                    <pb-drawer style="border-right: 2px solid #DEE2E6;" toggle="tocToggle-fr" class="tocDrawer" emit="toc" subscribe="transcription">
                        <div class="drawer-content">
                        <!-- Déroule les métadonnées en français -->
                            <h3>Métadonnées</h3>
                            <pb-view id="metadata" src="document1" xpath="//teiHeader" view="single" subscribe="toc">
                                <pb-param name="mode" value="metadata-fr"/>
                            </pb-view>
                        </div>
                    </pb-drawer>
    
                    <pb-drawer style="border-right: 2px solid #DEE2E6;" toggle="tocToggle-en" class="tocDrawer" emit="toc" subscribe="transcription">
                        <div class="drawer-content">
                        <!-- Déroule les métadonnées en anglais -->
                            <h3>Metadata</h3>
                            <pb-view id="metadata" src="document1" xpath="//teiHeader" view="single" subscribe="toc">
                                <pb-param name="mode" value="metadata-en"/>
                            </pb-view>
                        </div>
                    </pb-drawer>
                    
                    <pb-drawer style="border-right: 2px solid #DEE2E6;" toggle="tocToggle-de" class="tocDrawer" emit="toc" subscribe="transcription">
                        <div class="drawer-content">
                        <!-- Déroule les métadonnées en allemand -->
                            <h3>Metadaten</h3>
                            <pb-view id="metadata" src="document1" xpath="//teiHeader" view="single" subscribe="toc">
                                <pb-param name="mode" value="metadata-de"/>
                            </pb-view>
                        </div>
                    </pb-drawer>

                    <section>
                        <h5>
                            <pb-view src="document1" xpath="//teiHeader" view="single">
                                <pb-param name="mode" value="navigation-prev"/>
                            </pb-view>
                        </h5>
                    </section>
                    <section class="breadcrumbs">
                    <h2>
                             <pb-view id="title-view1" src="document1" xpath="//teiHeader" view="single">
                                <pb-param name="mode" value="title"/>
                            </pb-view>
                            </h2>
                            </section>
                        <section>
                        <h5>
                            <pb-view src="document1" xpath="//teiHeader" view="single">
                                <pb-param name="mode" value="navigation-next"/>
                            </pb-view>
                        </h5>
                    </section>
                    
                <section class="content-body">
                    <pb-grid id="grid" panels="[0]" subscribe="transcription" emit="transcription">
                
                        <template>
                            <pb-panel emit="transcription">
                        
                            <pb-grid-action action="add" class="grid-add" grid="#grid">
                                <paper-button>
                                            <iron-icon icon="icons:view-carousel"/> Add</paper-button>
                            </pb-grid-action>
                            <pb-grid-action grid="#grid" slot="toolbar" action="remove">
                                <paper-icon-button icon="icons:close"/>
                            </pb-grid-action>
                                
                        <template title="Index">
                            <pb-view id="view1" src="document1" column-separator=".tei-cb" append-footnotes="append-footnotes" subscribe="transcription" emit="letter">
                                <pb-param name="mode" value="facets"/>
                            </pb-view>
                        </template>
                                
                        <template title="Map">
                            <aside>
                            <pb-leaflet-map fit-markers="" subscribe="transcription" access-token="pk.eyJ1Ijoid29sZmdhbmdtbSIsImEiOiJjam1kMjVpMnUwNm9wM3JwMzdsNGhhcnZ0In0.v65crewF-dkNsPF3o1Q4uw">
                            </pb-leaflet-map>
                            </aside>
                        </template>

                        </pb-panel>
                        </template>
                            <pb-panel emit="transcription">
                                <!-- Added to the toolbar -->
                                
                                <template title="Reading version with critical annotations">
                                    <pb-view id="view1" src="document1" column-separator=".tei-cb" append-footnotes="append-footnotes" subscribe="transcription" emit="transcription">
                        <pb-param name="mode" value="original"/>
                        </pb-view>
                                </template>
                                <template title="Reading version with named entities">
                    <pb-view id="view1" src="document1" column-separator=".tei-cb" append-footnotes="append-footnotes" subscribe="transcription" emit="transcription">
                    <pb-param name="mode" value="entities"/>
                    </pb-view>
                                </template>
                                <template title="Diplomatic version">
                                    <pb-view id="view1" src="document1" column-separator=".tei-cb" append-footnotes="append-footnotes" subscribe="transcription" emit="transcription">
                        <pb-param name="mode" value="corrections"/>
                        </pb-view>
                                </template>
                            </pb-panel>
                            <pb-facsimile id="facsimile" base-uri="https://api.nakala.fr/iiif/" default-zoom-level="0" show-navigation-control="show-navigation-control" show-navigator="show-navigator" subscribe="transcription"/>
                    </pb-grid>
                    
                </section>
            </app-header-layout>
        </app-drawer-layout>
    </pb-page>
        <div class="splash">
            <h1 style="font-size: 150px;color: white; text-align: center;display: flex; justify-content: center; align-items: center; height: 80vh;">DiScholEd - Digital Scholarly Editions</h1>
        </div>
</body>

</html>