<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
    <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64"/>

    <title>Index of places</title>
    <meta name="description" content="Index of places"/>

    <link rel="stylesheet" type="text/css" href="resources/fonts/font.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald&amp;display=swap"/>
    <link rel="stylesheet" href="resources/css/discholed.css"/>
    <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"/>
    <script type="module" src="pb-leaflet-map.js" data-template="pages:load-components"/>
    <style>
        body {
            --pb-view-height: calc(100vh - 220px);
            --pb-splash-image-size: 360px auto;
            --pb-splash-background-color: black;
            }
                
        .splash {
            background-image: url("../../ressources/images/github.svg"); 
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            visibility: hidden;
            opacity: 0;
            background-color: #212D40;
            background-position: center center;
            background-size: var(--pb-splash-image-size);
            background-repeat: no-repeat;
            transition: visibility 0s linear 300ms, opacity 300ms;
        }
        pb-page[unresolved]~.splash {
            visibility: visible;
            opacity: 1;
            transition: visibility 0s linear 0s, opacity 300ms;
        }
    
        
        #view1 {
            flex: 3 0;
            max-width: 60vw;
            margin: 8px 16px;
            height: calc(100vh - 128px);
            overflow: auto;
            columns: 2;
            font-size: 14px;
        }
        
        #title-view1 {
                font-size: 18px;
                margin: 3% 0;
            }
            
        #list {
                font-size: 14px;
        }
        
        .toc {
                grid-column: 1 / 1;
                grid-row: 1 / span 3;
                overflow: auto;
                font-size: 18px;
            }

        .content-body {
            position: relative;
            display: flex;
            justify-content: center;
            margin: 0;
        }

        aside {
            flex: 1 0;
            min-width: 360px;
            max-width: 480px;
            margin-right: 16px;
            overflow: auto;
        }

        aside pb-highlight {
            display: block;
            width: 100%;
            padding: 0 8px;
        }

        pb-leaflet-map {
            width: 100%;
            height: 100%;
            height: var(--pb-view-height);
        }
        
        .card_board{
        }
        
        .map {
            padding-top: 8vh;
            position: fixed;
        }


        
    </style>
</head>

<body>
    <pb-page data-template="pages:pb-page" locales="resources/i18n/{{ns}}/{{lng}}.json" unresolved="unresolved">
        <pb-document id="document1" data-template="pages:pb-document"/>
        <app-drawer-layout force-narrow="force-narrow">
            <app-drawer data-template="templates:include" data-template-path="templates/drawer.html"/>
            <app-header-layout>
                <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                    <app-toolbar data-template="templates:include" data-template-path="templates/menu.html"/>
                    <app-toolbar data-template="templates:include" data-template-path="templates/toolbar.html"/>
                </app-header>

<section class="content-body">
                
                            <div>
                           
                 <h2>
                                <pb-view id="title-view1" src="document1" xpath="//teiHeader" view="single" style="text-align: center;">
                                        <pb-param name="mode" value="title"/>
                                    </pb-view>
                            </h2>

                            <div class="card_board">
                            <pb-view slot="collapse-content" id="list" src="document1" xpath="//text" view="single" subscribe="toc" emit="letter">
                                <pb-param name="mode" value="list"/>
                            </pb-view>
                            </div>
                </div>
                            <aside>
                            <div class="map">
                        <pb-leaflet-map fit-markers="" zoom="9" subscribe="map" access-token="pk.eyJ1Ijoid29sZmdhbmdtbSIsImEiOiJjam1kMjVpMnUwNm9wM3JwMzdsNGhhcnZ0In0.v65crewF-dkNsPF3o1Q4uw" latitude="52.51627" longitude="13.37769" style="width: 600px; height: 700px;" waitFor="pb-param"/>
                            <pb-progress subscribe="letter" indeterminate="indeterminate" bottom-item="bottom-item"/>
                        </div>
                        </aside>
                </section>
            </app-header-layout>
        </app-drawer-layout>
    </pb-page>
                            <div class="splash">
            <h1 style="font-size: 150px;color: white; text-align: center;display: flex; justify-content: center; align-items: center; height: 80vh;">DiScholEd - Digital Scholarly Editions</h1>
        </div>
</body>
<script>
</script>
</html>