<html>
    <head>
        <meta charset="utf-8"/>
        <title>About the project</title>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
        <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald"/>
        <link rel="stylesheet" href="resources/css/discholed.css"/>
        <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"/>
        <custom-style>
            <style>
                body {
                    --pb-splash-image-size: 360px auto;
                    --pb-splash-background-color: black;
                }
                
                h1 {
                    font-family: "Oswald",Verdana,"Helvetica",sans-serif;
                    font-weight: 400 !important;
                    line-height: 1.2;
                }
                
                .splash {
                    background-image: url("../../ressources/images/github.svg"); 
                    position: fixed;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    visibility: hidden;
                    opacity: 0;
                    background-color: #212D40;
                    background-position: center center;
                    background-size: var(--pb-splash-image-size);
                    background-repeat: no-repeat;
                    transition: visibility 0s linear 300ms, opacity 300ms;
                }
                pb-page[unresolved]~.splash {
                    visibility: visible;
                    opacity: 1;
                    transition: visibility 0s linear 0s, opacity 300ms;
                }
                
                .main-title {
                    font-size: 18px;
                    margin: 3%;
                }
                
                .drawer-content a,
                .drawer-content a:visited {
                    color: #131821;
                    text-decoration: none;
                }
                
                .container {
                    margin: 8px 18px;
                    height: calc(100vh - 128px);
                    overflow: auto;
                    flex: 3 0;
                }
                
                .content-body {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    margin: 0;
                    color: #131821;
                }
                
                h2 {
                    font-size: 26px;
                }
                
                h3 {
                    text-decoration: underline;
                }
                
                aside {
                    flex: 1 0;
                    min-width: 360px;
                    max-width: 180px;
                    margin-right: 16px;
                    background-color: #f8f9fa;
                }</style>
        </custom-style>
        </head>
        
        <body>
            <pb-page data-template="pages:pb-page" locales="resources/i18n/{{ns}}/{{lng}}.json" unresolved="unresolved">
                <app-drawer-layout force-narrow="force-narrow">
                    <app-drawer slot="drawer" align="right">
                        <div class="drawer-content">
                            <pb-media-query query="(max-width: 1023px)">
                                <!-- language selector -->
                                <pb-lang name="lang" data-template="pages:languages"/>
                            </pb-media-query>
                        </div>
                    </app-drawer>
                    <app-header-layout>
                        <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                            <app-toolbar data-template="templates:include" data-template-path="templates/menu_nodownload.html"/>
                            <app-toolbar class="toolbar" sticky="sticky">
                                <a href="${app}/index.html?collection=bi" title="" data-template="pages:parse-params">
                                    <paper-icon-button icon="icons:folder-open"/>
                                </a>
                            </app-toolbar>
                        </app-header>
                        <main>
                            <section class="content-body">
                                <aside>
                                    <div class="drawer-content">
                                        <h1 class="main-title">The project</h1>
                                        <ul>
                                            <li>
                                                <a href="#projectcontext">Context of the project</a>
                                            </li>
                                            <li>
                                                <a href="#institutions">Institutions</a>
                                                <ul>
                                                    <li>
                                                        <a href="#huberlin">Humboldt University in Berlin</a>
                                                    </li>
                                                    <li>
                                                        <a href="#archiveslibrairies">Archives and Librairies</a>
                                                    </li>
                                                    <li>
                                                        <a href="#other">Other institutions</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#contributors">Contributors</a>
                                                <ul>
                                                    <li>
                                                        <a href="#transcription">Transcription</a>
                                                    </li>
                                                    <li>
                                                        <a href="#encoding">Encoding</a>
                                                    </li>
                                                    <li>
                                                        <a href="#database">Database and Interface</a>
                                                    </li>
                                                    <li>
                                                        <a href="#edition">Edition</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#resources">Resources</a>
                                            </li>
                                        </ul>
                                    </div>
                                </aside>
                                <div class="container">
                                    <div>
                                        <h2 id="projectcontext">Context of the project</h2>
                                        <p>This digital edition was first conceived and developed in the context of the junior research group "Berlin intellectuals 1800-1830" that was funded by the German Research Foundation between 2010 and 2015. Hosted at the Institute for German Literature of the Humboldt-Universität zu Berlin, the junior research group concerned itself with archival material giving significant novel insight in the intellectual life of the Prussian capital city between the late 18th and the middle of the 19th century. Cooperations with Cultural Heritage Institutions, especially those hosted in Berlin, were at the heart of the project. Still, it was not possible at that time to either edit all the selected material or to set up a sustainable hosting environment. The second development phase started in 2019 and was funded by the French Ministry of Research and Innovation in the context of the DAHN project. It first focussed on setting up a stable editorial environment with a combination of TEI Publisher and huma-num services, and makes it possible to keep enriching the digital edition in the upcoming years.</p>
                                    </div>
                                    <div>
                                        <h2 id="institutions">Institutions</h2>
                                        <p>Many institutions were involved in the digital edition of this corpus, whether it is because they kept some
                                            parts of the corpus in their collection or because they helped the edition process. Futhermore, the corpus
                                            of the Berlin intellectual has not a single point of origin but can be found in several respository from
                                            multiple institutions. </p>
                                        <div>
                                            <h3 id="huberlin">
                                                <a href="https://www.hu-berlin.de/en?set_language=en" target="_blank">Humboldt University in
                                                    Berlin</a>
                                            </h3>
                                            <ul>
                                                <li>
                                                    <a href="https://www.literatur.hu-berlin.de/de/idl?set_language=en" target="_blank">Institute of
                                                        German Literature</a>
                                                </li>
                                                <li>
                                                    <a href="https://www.ibi.hu-berlin.de/en/portletpage?set_language=en" target="_blank">Berlin
                                                        School of Library and Information Science</a>
                                                </li>
                                                <li>
                                                    <a href="https://www.ub.hu-berlin.de/en/literature-search/historical-collections?set_language=en" target="_blank">Historical Collections of the University Library</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div>
                                            <h3 id="archiveslibrairies">Archives and Librairies</h3>
                                            <ul>
                                                <li>
                                                    <a href="https://www.en.stadtmuseum.de" target="_blank">Berlin City Museum Foundation</a>
                                                </li>
                                                <li>
                                                    <a href="https://staatsbibliothek-berlin.de/en/" target="_blank">Berlin State Library – Prussian Cultural
                                                        Heritage</a>
                                                </li>
                                                <li>
                                                    <a href="https://www.goerlitzer-sammlungen.de" target="_blank">Oberlausitzische Bibliothek der Wissenschaften
                                                        Görlitz</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div>
                                            <h3 id="other">Other institutions</h3>
                                            <ul>
                                                <li>
                                                    <a href="https://www.inria.fr/en" target="_blank">Inria (French National Institute for Research in Digital Science
                                                        and Technology)</a>
                                                </li>
                                                <li>
                                                    <a href="https://www.bbaw.de/en/" target="_blank">Berlin-Brandenburg Academy of Sciences and Humanities</a>
                                                </li>
                                                <li>
                                                    <a href="https://www.deutschestextarchiv.de" target="_blank">Deutsches Textarchiv</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        <h2 id="contributors">Contributors</h2>
                                        <p>Many people contributed to this project, working on different tasks to present this edition of letters and texts
                                            from Berlin intellectuals and make it available for the public. The team is composed of:</p>
                                        <div>
                                            <h3 id="transcription">Transcription and annotation</h3>
                                            <p>Janin Afken, Anne Baillot, Henrike Bobzienh, Anna Busch, Emmanuelle Chaze, Denny Becker, Lena Ebert, Maike Engelmann, Hannes Fischer, Selma Jahnke, Janine Katins, Johanna Preusse, Eva Schneider, Sabine Seifert, Marion Siéfert, Sophia Zeil, as well as literature students from the Humboldt-Universität zu Berlin 2011-2015</p>
                                        </div>
                                        <div>
                                            <h3 id="encoding">Encoding</h3>
                                            <p>Janin Afken, Anne Baillot, Henrike Bobzienh, Anna Busch, Emmanuelle Chaze, Lena Ebert, Selma Jahnke, Janine Katins, Johanna Preusse, Eva Schneider, Sabine Seifert, Sophia Zeil as well as literature students from the Humboldt-Universität zu Berlin 2011-2015</p>
                                        </div>
                                        <div>
                                            <h3 id="database">Database and Interface</h3>
                                            <p>First development phase: Josefine Afken, Alexander Meyer</p>
                                        </div>
                                        <div>
                                            <h3 id="edition">Edition management and supervision</h3>
                                            <p>Anne Baillot, Anna Busch, Sabine Seifert</p>
                                        </div>
                                    </div>
                                    <div>
                                        <h2 id="resources">Resources</h2>
                                        <p>Website: <a href="https://www.berliner-intellektuelle.eu/?en" target="_blank">
                                                <emph>Letters and texts</emph>: Intellectual Berlin around 1800</a>
                                        </p>
                                        <p>Junior Research group: <a href="https://www.literatur.hu-berlin.de/de/berliner-intellektuelle-1800-1830/" target="_blank">Berlin intellectuals 1800-1830</a>
                                        </p>
                                        <p>Hypotheses Blog: <a href="https://digitalintellectuals.hypotheses.org" target="_blank">Digital
                                                Intellectuals</a>
                                        </p>
                                    </div>
                                </div>
                            </section>
                        </main>
                        <footer class="version"> App: v<span data-template="pages:version"/> / web components: v<pb-version/> / <a href="https://creativecommons.org/licenses/by/3.0/deed.en" target="_blank">Attribution 3.0 Unported (CC BY 3.0)</a>
                        </footer>
                    </app-header-layout>
                </app-drawer-layout>
            </pb-page>
                    <div class="splash">
            <h1 style="font-size: 150px;color: white; text-align: center;display: flex; justify-content: center; align-items: center; height: 80vh;">DiScholEd - Digital Scholarly Editions</h1>
        </div>
        </body>
    
</html>