<div>
<paper-button class="parent-link" data-template="browse:parent-collection">
            <iron-icon icon="icons:arrow-upward"/>
            <pb-i18n key="browse.up">Up</pb-i18n>
        </paper-button>
<h2 class="tp-title">
        <pb-i18n key="collection.napoleon.title">Napoleonic wars diary</pb-i18n>
    </h2> 
<div class="collection-corpus" data-template="browse:clear-facets">
    <ul class="documents">
    
        <a href="#" data-collection="rochlitz/corpus">
        <li class="document">
        <div class="thumbnail">
                <img src="resources/images/corpus/corpus_rochlitz.png" width="150"/>
            </div>
            <div class="document-info">
                <h3>
                            <pb-i18n key="collection.corpus.title">Edited texts</pb-i18n>
                </h3>
                <p>
                        <pb-i18n key="collection.corpus.desc">Folder with the corpus' letters.</pb-i18n>
                    </p>
            </div>
        </li>
        </a>
        
        
        <a href="#" data-collection="rochlitz/index">
        <li class="document">
        <div class="thumbnail">
                <img src="resources/images/index/index_rochlitz.png" width="150"/>
            </div>
            <div class="document-info">
                <h3>
                            <pb-i18n key="collection.index.title">Indexes</pb-i18n>
                </h3>
                <p>
                        <pb-i18n key="collection.index.desc">Organizations, persons, places and publications mentioned in the edition, presented in four separate indexes.</pb-i18n>
                    </p>
            </div>
        </li>
        </a>
    </ul>
</div>
</div>