<html>

<head>
    <meta charset="utf-8"/>
    <title>About this publication platform</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
    <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald"/>
    <link rel="stylesheet" href="resources/css/discholed.css"/>
    <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"/>
    <custom-style>
            <style>
            body {
                    --pb-splash-image-size: 360px auto;
                    --pb-splash-background-color: black;
                }
                
                .splash {
                    background-image: url("../../ressources/images/github.svg"); 
                    position: fixed;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    visibility: hidden;
                    opacity: 0;
                    background-color: #212D40;
                    background-position: center center;
                    background-size: var(--pb-splash-image-size);
                    background-repeat: no-repeat;
                    transition: visibility 0s linear 300ms, opacity 300ms;
                }
                pb-page[unresolved]~.splash {
                    visibility: visible;
                    opacity: 1;
                    transition: visibility 0s linear 0s, opacity 300ms;
                }
                
                h1 {
                    font-family: "Oswald",Verdana,"Helvetica",sans-serif;
                    font-weight: 400 !important;
                    line-height: 1.2;
                }
                
                .main-title {
                    font-size: 18px;
                    margin: 3%;
                    }
                
                .drawer-content a,
                .drawer-content a:visited {
                    color: #131821;
                    text-decoration: none;
                }
                
                .container {
                margin: 8px 18px;
                height: calc(100vh - 128px);
                overflow: auto;
                flex: 3 0;
                }
    
            .content-body {
                position: relative;
                display: flex;
                justify-content: center;
                margin: 0;
                color: #131821;
            }
            
            h2 {
                font-size: 26px;
            }
            
            h3 {
                text-decoration: underline;
            }
    
            aside {
                flex: 1 0;
                min-width: 360px;
                max-width: 480px;
                margin-right: 16px;
                background-color: #f8f9fa;
            }
            
                .box {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    padding-left: 3em;
                    padding-top: 3em;
                }
                
                .box&gt;* {
                    flex: 1 1 160px;
                }
                </style>
        </custom-style>
</head>

<body>
        <pb-page data-template="pages:pb-page" locales="resources/i18n/{{ns}}/{{lng}}.json" unresolved="unresolved">
        <app-drawer-layout force-narrow="force-narrow">
            <app-drawer slot="drawer" align="right">
                <div class="drawer-content">
                    <pb-media-query query="(max-width: 1023px)">
                            <!-- language selector -->
                            <pb-lang name="lang" data-template="pages:languages"/>
                        </pb-media-query>
                    </div>
                </app-drawer>
                <app-header-layout>
                <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                <app-toolbar data-template="templates:include" data-template-path="templates/menu_nodownload.html"/>
                <app-toolbar class="toolbar" sticky="sticky">
                        </app-toolbar>
                </app-header>
            
            <main>
            <section class="content-body">
                <aside>
                    <div class="drawer-content">
                    <h1 class="main-title">About this publication platform</h1>
                <ul>
                    <li>Contributors
                         <ul>
                            <li>Supervision
                            </li>
                            <li>Developers
                            </li>
                            <li>Hosting environment
                            </li>
                        </ul>
                    </li>
                    <li>Image credits
                        <ul>
                            <li>Collection "Correspondance of Constance de Salm"
                            </li>
                            <li>Collection "Napoleonic War Diaries"
                            </li>
                            <li>Collection "Letters and texts: Intellectual Berlin around 1800"
                            </li>
                            <li>Collection "August Boeckh - Catalogue of his papers"
                            </li>
                            <li>Collection "Correspondence of Paul d'Estournelles de Constant"
                            </li>
                            <li>Collection "My War 1914-1918"
                            </li>
                            <li>Collection "Early Holocaust Testimonies"
                            </li>
                        </ul>
                    </li>
                </ul>
                </div>
                </aside>
                <div class="container">
                    <div>
                        <p>This application, created with TEI Publisher, has been developed as part of the DAHN project, a partnership between Inria, the University of Le Mans and the EHESS funded by the MESRI, which goal is to establish a pipeline for the scientific digital edition of archival collections. This application is hosted on Humanum.</p>
                    </div>
                    <div>
                        <h3>Contributors</h3>
                        <ul>
                        <li>Supervision</li>
                                    </ul>
                        <p>Anne Baillot, Laurent Romary</p>

                        <ul>
                                        <li>Developers</li>
                                    </ul>
                        <p>Floriane Chiffoleau (engineer), Manon Ovide (intern), Samuel Scalbert (intern)</p>

                        <ul>
                                        <li>Hosting environment</li>
                                    </ul>
                        <p>Huma-Num (<a href="https://www.huma-num.fr/">https://www.huma-num.fr/</a>)</p>
                    </div>
                    <div>
                        <h3>Image credits</h3>
                            <ul>
                                        <li>Collection "Correspondance of Constance de Salm"</li>
                                    </ul>
                        <p>Caption: Portrait of Constance Pipelet<br/>
                        Credits: Jean-Baptiste François Desoria, 1797<br/>
                        Source: <a href="https://www.artic.edu/artworks/31233/portrait-of-constance-pipelet">Art Institute of Chicago</a>
                                    </p>
                            
                            <ul>
                                        <li>Collection "Napoleonic War Diaries"</li>
                                    </ul>
                        <p>Caption: Johann Friedrich Rochlitz<br/>
                        Credits: A. W. Böhm after Hanns Veit Schnorr von Carolsfeld, circa 1820<br/>
                        Source: <a href="https://commons.wikimedia.org/wiki/File:Friedrich_Rochlitz.jpg">https://commons.wikimedia.org/wiki/File:Friedrich_Rochlitz.jpg</a>
                                    </p>
                            
                            <ul>
                                        <li>Collection "Letters and texts: Intellectual Berlin around 1800"</li>
                                    </ul>
                        <p>Caption: Adelbert von Chamisso (1781-1838)<br/>
                        Credits: Robert Reinick, 1831<br/>
                        Source: <a href="https://commons.wikimedia.org/wiki/File:Chamisso_Adelbert_von_1781-1838.png">https://commons.wikimedia.org/wiki/File:Chamisso_Adelbert_von_1781-1838.png</a>
                                    </p>
                            
                            <ul>
                                        <li>Collection "August Boeckh - Catalogue of his papers"</li>
                                    </ul>
                        <p>Caption: August Boeckh (1785-1867), German archaeologist, with the Order of the Red Eagle. Lithograph by Werner, drawn from nature by Prof. Franz Krüger<br/>
                        Credits: Franz Krüger, before 1858<br/>
                        Source: <a href="https://commons.wikimedia.org/wiki/File:Philipp_August_B%C3%B6ckh_-_Imagines_philologorum.jpg">Alfred Gudeman: Imagines philologorum. Berlin/Leipzig: Teubner 1911, S. 21.</a>
                                    </p>
                            
                            <ul>
                                        <li>Collection "Correspondence of Paul d'Estournelles de Constant"</li>
                                    </ul>
                        <p>Caption: French politician and Nobel laureate Paul Henri Balluet d'Estournelles de Constant (1852-1924)<br/>
                        Credits: Agence de presse Meurisse, 1909<br/>
                        Source: <a href="https://gallica.bnf.fr/ark:/12148/btv1b90190397/">BNF</a>
                                    </p>
                            
                            <ul>
                                        <li>Collection "My War 1914-1918"</li>
                                    </ul>
                        <p>Caption: Charles Bruneau<br/>
                        Credits: ?<br/>
                        Source: ?</p>
                            
                            <ul>
                                        <li>Collection "Early Holocaust Testimonies"</li>
                                    </ul>
                        <p>Caption: Logo European Holocaust Research Infrastructure (EHRI)<br/>
                        Credits: European Holocaust Research Infrastructure (EHRI)<br/>
                        Source: <a href="https://www.ehri-project.eu/">EHRI Portal</a>
                                    </p>
                    </div>
                </div>
            </section>
        </main>
                <footer class="version"> App: v<span data-template="pages:version"/> / web components: v<pb-version/> / <a href="https://creativecommons.org/licenses/by/3.0/deed.en" target="_blank">Attribution 3.0 Unported (CC BY 3.0)</a>
                        </footer>
                </app-header-layout>
            </app-drawer-layout>
        </pb-page>
        <div/>
                <div class="splash">
            <h1 style="font-size: 150px;color: white; text-align: center;display: flex; justify-content: center; align-items: center; height: 80vh;">DiScholEd - Digital Scholarly Editions</h1>
        </div>
    </body>

</html>