<div data-template="browse:is-writeable" class="collection">
    <div data-template="browse:dispatch-action"/>
    <div>
        <paper-button class="parent-link" data-template="browse:parent-collection">
            <iron-icon icon="icons:arrow-upward"/>
            <pb-i18n key="browse.up">Up</pb-i18n>
        </paper-button>
        <ul class="documents" data-template="browse:browse" data-template-per-page="10">
            <li class="document">
                <pb-restricted login="login" group="tei">
                    <div class="document-select">
                        <paper-checkbox data-template="pages:parse-params" name="documentCheckbox" value="${ident}"/>
                    </div>
                </pb-restricted>
                <div class="document-info">
                    <header data-template="browse:short-header"/>
                    <div class="matches" data-template="browse:show-hits"/>
                    <!-- TODO this toolbar should only appear once per Documents papercard
                    Possibilité de télécharger une fois sur le document donc peut-être pas nécessaire de garder le téléchargement dès la page d'accueil
                    <app-toolbar>
                        <paper-menu-button>
                            <paper-button slot="dropdown-trigger" data-i18n="[title]menu.download.title" title="i18n(download)">
                                <iron-icon icon="file-download"/>
                                <span class="label">
                                    <pb-i18n key="menu.download.title">Download</pb-i18n>
                                </span>
                            </paper-button>
                            <paper-listbox slot="dropdown-content">
                                <paper-item>
                                    <pb-download type="tex" dialog="downloadDialog" data-i18n="[title]menu.download.pdf-latex" title="i18n(pdf-latex)" data-template="browse:download-link">
                                        <pb-i18n key="menu.download.pdf-latex">Download</pb-i18n>
                                    </pb-download>
                                </paper-item>
                                <paper-item>
                                    <pb-download type="tex" dialog="downloadDialog" data-i18n="[title]menu.download.pdf-latex" title="i18n(pdf-latex)" source="source" data-template="browse:download-link">
                                        <pb-i18n key="menu.download.latex-source"/>
                                    </pb-download>
                                </paper-item>
                                <paper-item>
                                    <pb-download type="pdf" dialog="downloadDialog" data-i18n="[title]menu.download.pdf-fo" title="i18n(pdf-fo)" data-template="browse:download-link">
                                        <pb-i18n key="menu.download.pdf-fo"/>
                                    </pb-download>
                                </paper-item>
                                <paper-item>
                                    <pb-download type="pdf" dialog="downloadDialog" data-i18n="[title]menu.download.fo-source" title="pdf-fo" source="source" data-template="browse:download-link">
                                        <pb-i18n key="menu.download.fo-source"/>
                                    </pb-download>
                                </paper-item>
                                <paper-item>
                                    <pb-download type="epub" src="document1" dialog="downloadDialog" data-template="browse:download-link">
                                        ePUB
                                    </pb-download>
                                </paper-item>
                                <paper-item>
                                    <pb-edit-xml data-i18n="[title]menu.download.view-tei" title="i18n(view-tei)" path="${path}" data-template="pages:parse-params">
                                        XML
                                    </pb-edit-xml>
                                </paper-item>
                            </paper-listbox>
                        </paper-menu-button>
                    </app-toolbar>-->
                </div>
            </li>
        </ul>
    </div>
</div>