<app-drawer slot="drawer" align="right">
    <div class="drawer-content">
        <pb-media-query query="max-width: 1023px">
            <!-- language selector -->
            <pb-lang name="lang" data-template="pages:languages"/>
            <pb-collapse>
                <h3 slot="collapse-trigger">
                    <pb-i18n key="menu.documentation">Documentation</pb-i18n>
                </h3>
                <paper-listbox slot="collapse-content">
                    <paper-item>
                        <a href="${app}/doc/documentation.xml?odd=docbook.odd" data-template="pages:parse-params">
                            <pb-i18n key="menu.documentation">Documentation</pb-i18n>
                        </a>
                    </paper-item>
                    <paper-item>
                        <a href="${app}/doc/documentation.xml?odd=docbook.odd&amp;id=faq" data-template="pages:parse-params">FAQ</a>
                    </paper-item>
                    <paper-item>
                        <a href="${app}/doc/blog/" data-template="pages:parse-params">
                            <pb-i18n key="menu.news">News</pb-i18n>
                        </a>
                    </paper-item>
                    <paper-item>
                        <a href="https://unpkg.com/@teipublisher/pb-components@latest/dist/api.html" target="_blank">Webcomponents API</a>
                    </paper-item>
                </paper-listbox>
            </pb-collapse>
            <pb-collapse>
                <h3 slot="collapse-trigger">
                    <pb-i18n key="menu.download.title">Download</pb-i18n>
                </h3>
                <paper-listbox slot="collapse-content">
                    <paper-item>
                        <pb-download type="tex" src="document1" dialog="downloadDialog" data-i18n="[title]menu.download.pdf-latex" title="i18n(pdf-latex)">
                            <pb-i18n key="menu.download.pdf-latex"/>
                        </pb-download>
                    </paper-item>
                    <paper-item>
                        <pb-download type="tex" src="document1" dialog="downloadDialog" data-i18n="[title]menu.download.latex-source" title="i18n(pdf-latex)" source="source">
                            <pb-i18n key="menu.download.latex-source"/>
                        </pb-download>
                    </paper-item>
                    <paper-item>
                        <pb-download type="pdf" src="document1" dialog="downloadDialog" data-i18n="[title]menu.download.pdf-fo" title="pdf-fo">
                            <pb-i18n key="menu.download.pdf-fo"/>
                        </pb-download>
                    </paper-item>
                    <paper-item>
                        <pb-download type="pdf" src="document1" dialog="downloadDialog" data-i18n="[title]menu.download.fo-source" title="i18n(pdf-fo)" source="source">
                            <pb-i18n key="menu.download.fo-source"/>
                        </pb-download>
                    </paper-item>
                    <paper-item>
                        <pb-download type="epub" src="document1" data-i18n="[title]menu.download.epub" dialog="downloadDialog">
                            ePUB
                        </pb-download>
                    </paper-item>
                    <paper-item>
                        <pb-edit-xml src="document1" data-i18n="[title]menu.download.view-tei" title="view-tei">
                            XML
                        </pb-edit-xml>
                    </paper-item>
                </paper-listbox>
            </pb-collapse>
            <pb-restricted login="login">
                <pb-collapse>
                    <h3 slot="collapse-trigger">
                        <pb-i18n key="menu.admin.title">Admin</pb-i18n>
                    </h3>
                    <paper-listbox slot="collapse-content">
                        <paper-item>
                            <pb-download data-template="pages:edit-odd-link" src="document1">
                                <pb-i18n key="menu.admin.edit-odd">Edit ODD</pb-i18n>
                            </pb-download>
                        </paper-item>
                        <paper-item>
                            <a href="${app}/manage.html" data-template="pages:parse-params">
                                <pb-i18n key="menu.admin.appGenerator"/>
                            </a>
                        </paper-item>
                    </paper-listbox>
                </pb-collapse>
            </pb-restricted>
        </pb-media-query>
        <!-- Suppression car pas nécessaire de donner l'option de pageview et XML TEI disponible avec "Download"
        <div class="settings">
            <h3>Settings</h3>
            <pb-toggle-feature emit="transcription" subscribe="transcription" name="view" on="page" off="div" init-from-view="init-from-view">
                <pb-i18n key="document.view-type">Page View</pb-i18n>
            </pb-toggle-feature>
            <pb-edit-xml src="document1">
                <paper-button alt="Edit source">
                    <iron-icon icon="icons:code"/> <pb-i18n key="menu.download.view-tei"/>
                </paper-button>
            </pb-edit-xml>
        </div>-->
    </div>
</app-drawer>