<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
        <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64"/>

        <title data-template="config:app-title"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald"/>
        <link rel="stylesheet" href="resources/css/discholed.css"/>
        <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"/>
        <custom-style>
            <style include="pb-common-styles">
                body {
                    --pb-link-theme: {
                        text-decoration: none;
                        color: black;
                    };

                    --pb-content-theme: {
                        margin-right: 32px;
                    };

                    --paper-card-header: {
                        font-family: "Oswald",Verdana,"Helvetica",sans-serif;
                        background-color: #607D8B;
                    };

                    --paper-card-header-color: #F0F0F0;
                    --pb-splash-image-size: 360px auto;
                    --pb-splash-background-color: black;
                }
                
                .splash {
                    background-image: url("../../ressources/images/github.svg"); 
                    position: fixed;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    visibility: hidden;
                    opacity: 0;
                    background-color: #212D40;
                    background-position: center center;
                    background-size: var(--pb-splash-image-size);
                    background-repeat: no-repeat;
                    transition: visibility 0s linear 300ms, opacity 300ms;
                }
                pb-page[unresolved]~.splash {
                    visibility: visible;
                    opacity: 1;
                    transition: visibility 0s linear 0s, opacity 300ms;
                }

                
                .tp-title {
                    font-family: "Oswald",Verdana,"Helvetica",sans-serif;
                    font-size: 66px;
                    font-weight: 400;
                }

                pre {
                    font-family: "Ubuntu Mono",Menlo,Consolas,Courier,monospace;
                    font-size: 14px;
                    width: 100%;
                    overflow: auto;
                }
                
                p {
                    font-size: 20px;
                }
                

                section {
                    text-align: center;
                    padding: 10% 0;
                }
                
                .content-body {
                    position: relative;
                    display: flex;
                    justify-content: center;
                }
            </style>
        </custom-style>
    </head>

    <body unresolved="unresolved">
        <pb-page data-template="pages:pb-page" locales="resources/i18n/{{ns}}/{{lng}}.json" unresolved="unresolved">
            <app-header-layout>
                <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                    <app-toolbar data-template="templates:include" data-template-path="templates/menu_nodownload.html"/>
                </app-header>

                <main>
                    <section>
                        <h1 class="tp-title">
                            <pb-i18n key="error.title">An error has occurred</pb-i18n>
                        </h1>
                        <p>
                            <pb-i18n key="error.message">An error has been generated by the application.</pb-i18n>
                            
                        </p>
                        <iframe src="https://giphy.com/embed/oe33xf3B50fsc" width="480" height="480" frameBorder="0" class="giphy-embed"/>
                        <pre class="error templates:error-description"/>
                    </section>
                </main>
            </app-header-layout>
        </pb-page>
                <div class="splash">
            <h1 style="font-size: 150px;color: white; text-align: center;display: flex; justify-content: center; align-items: center; height: 80vh;">DiScholEd - Digital Scholarly Editions</h1>
        </div>
    </body>
</html>