<app-toolbar class="menubar">
    <a href="${app}/index.html" class="logo" data-template="pages:parse-params">
        <pb-i18n key="menu.start">Home</pb-i18n>
    </a>
    <pb-media-query query="min-width: 1024px">
        <paper-menu-button>
                                    <a href="#" slot="dropdown-trigger">
                <pb-i18n key="collection.title">Collections</pb-i18n>
                                    </a>
                                    <paper-listbox slot="dropdown-content">
                                    <paper-item>
                    <img src="resources/images/collection/constance_de_salm.png" width="35" style="padding: 0.5em;"/>
                                            <a href="${app}/index.html?collection=cds" data-template="pages:parse-params">
                        <pb-i18n key="collection.cds.title">Correspondance of Constance de Salm (1767-1845)</pb-i18n>
                    </a>
                                       </paper-item>
                                       <paper-item>
                    <img src="resources/images/collection/Friedrich_Rochlitz.jpg" width="35" style="padding: 0.5em;"/>
                                            <a href="${app}/index.html?collection=rochlitz" data-template="pages:parse-params">
                        <pb-i18n key="collection.napoleon.title">Napoleonic wars diary</pb-i18n>
                    </a> 
                                        </paper-item>
                                        <paper-item>
                    <img src="resources/images/collection/chamisso.png" width="35" style="padding: 0.5em;"/>
                                            <a href="${app}/index.html?collection=bi" data-template="pages:parse-params">
                        <pb-i18n key="collection.intellectuelsberlinois.title">Letters and texts: Intellectual Berlin around 1800</pb-i18n>
                    </a>
                                         </paper-item> 
                                         <paper-item>
                    <img src="resources/images/collection/boeckh.png" width="35" style="padding: 0.5em;"/>
                                            <a href="${app}/index.html?collection=nachlassprojekt" data-template="pages:parse-params">
                        <pb-i18n key="collection.nachlass.title">August Boeckh - Catalogue of his papers</pb-i18n>
                    </a>
                                        </paper-item>
                                         <paper-item>
                    <img src="resources/images/collection/Destournelles.png" width="35" style="padding: 0.5em;"/>
                                            <a href="${app}/index.html?collection=pec" data-template="pages:parse-params">
                        <pb-i18n key="collection.pec.title">Correspondence of Paul d'Estournelles de Constant</pb-i18n>
                    </a>
                                        </paper-item>
                                        <paper-item>
                    <img src="resources/images/collection/CharlesBruneau.png" width="35" style="padding: 0.5em;"/>
                                            <a href="${app}/index.html?collection=maguerre" data-template="pages:parse-params">
                        <pb-i18n key="collection.bruneau.title">My War 1914-1918</pb-i18n>
                    </a>
                                        </paper-item>
                                        <paper-item>
                    <img src="resources/images/collection/ehri_illustration.jpg" width="45" style="padding: 0.3em;"/>
                                            <a href="${app}/index.html?collection=ehri" data-template="pages:parse-params">
                        <pb-i18n key="collection.ehri.title">Early Holocaust Testimonies</pb-i18n>
                    </a>
                                        </paper-item>
                                       
                                    </paper-listbox>
                                </paper-menu-button>
                            <paper-menu-button>
                                    <a href="#" slot="dropdown-trigger">
                <pb-i18n key="menu.documentation.title">Documentation</pb-i18n>
                                    </a>
                                    <paper-listbox slot="dropdown-content">
                                        <paper-item>
                    <img src="resources/images/logo/TEIlogo-grayscale.png" width="25" style="padding: 0.5em;"/>
                                            <a href="${app}/guidelines/Documentation-Correspondance.xml" data-template="pages:parse-params">
                        <pb-i18n key="menu.documentation.encoding">Encoding guidelines</pb-i18n>
                    </a>
                                        </paper-item>
                                        <paper-item>
                    <img src="resources/images/logo/logo_appli.png" width="25" style="padding: 0.5em;"/>
                                            <a href="${app}/guidelines/Documentation_TEIPublisherApp.xml" data-template="pages:parse-params">
                        <pb-i18n key="menu.documentation.application">Application documentation</pb-i18n>
                    </a>
                                        </paper-item>
                                        <paper-item>
                    <img src="resources/images/logo/icon.svg" width="25" style="padding: 0.5em;"/>
                                        <a href="https://teipublisher.com/exist/apps/tei-publisher/doc/documentation.xml?odd=docbook.odd" target="_blank">
                                        <pb-i18n key="menu.documentation.teipublisher">TEI Publisher documentation</pb-i18n>
                    </a>
                                        </paper-item>
                                    </paper-listbox>
                                </paper-menu-button>
        <paper-menu-button>
            <a href="#" slot="dropdown-trigger" data-i18n="[title]menu.download.title" title="i18n(download)">
                <pb-i18n key="menu.download.title">Download</pb-i18n>
            </a>
            <paper-listbox slot="dropdown-content">
               <paper-item>
                    <pb-download type="tex" src="document1" dialog="downloadDialog" data-i18n="[title]menu.download.pdf-latex" title="i18n(pdf-latex)">
                        <pb-i18n key="menu.download.pdf-latex">Download</pb-i18n>
                    </pb-download>
                </paper-item>
                <paper-item>
                    <pb-download type="tex" src="document1" dialog="downloadDialog" data-i18n="[title]menu.download.pdf-latex" title="i18n(pdf-latex)" source="source">
                        <pb-i18n key="menu.download.latex-source"/>
                    </pb-download>
                </paper-item>
                <paper-item>
                    <pb-download type="pdf" src="document1" dialog="downloadDialog" data-i18n="[title]menu.download.pdf-fo" title="i18n(pdf-fo)">
                        <pb-i18n key="menu.download.pdf-fo"/>
                    </pb-download>
                </paper-item>
                <paper-item>
                    <pb-download type="pdf" src="document1" dialog="downloadDialog" data-i18n="[title]menu.download.fo-source" title="pdf-fo" source="source">
                        <pb-i18n key="menu.download.fo-source"/>
                    </pb-download>
                </paper-item>
                <paper-item>
                    <pb-download type="epub" src="document1" dialog="downloadDialog">
                        ePUB
                    </pb-download>
                </paper-item>
                <paper-item>
                    <pb-edit-xml src="document1" data-i18n="[title]menu.download.view-tei" title="view-tei">
                        XML
                    </pb-edit-xml>
                </paper-item>
            </paper-listbox>
        </paper-menu-button>
        <pb-restricted login="login">
            <paper-menu-button>
                <a href="#" slot="dropdown-trigger">
                    <pb-i18n key="menu.admin.title">Admin</pb-i18n>
                </a>
                <paper-listbox slot="dropdown-content">
                    <paper-item data-template="pages:edit-odd-list"/>
                    <paper-item>
                        <pb-download url="api/apps/download">
                            <pb-i18n key="appgen.xar-download">Download App as .xar</pb-i18n>
                        </pb-download>
                    </paper-item>
                    <paper-item>
                        <a href="${app}/api.html" data-template="pages:parse-params" target="_blank">API Documentation</a>
                    </paper-item>
                </paper-listbox>
            </paper-menu-button>
        </pb-restricted>
        
        <a href="${app}/about.html" class="logo" data-template="pages:parse-params" style="padding-right: 1em; padding-left: 1em;">
        <pb-i18n key="menu.about">About</pb-i18n>
    </a>
        
        <a href="https://github.com/DiScholEd" title="View code on GitHub" class="gitlab" target="_blank">
            <img src="resources/images/github.svg"/>
        </a>
        
        <paper-menu-button>
                            <a href="#" slot="dropdown-trigger">
                            <iron-icon icon="icons:mail"/>
                                </a>
                                <paper-listbox slot="dropdown-content">
                                <p style="color: white; padding-right: 1em; padding-left: 1em;">If you are interested in adding your corpus to our application,<br/> if you want to notify us about an error in the application or<br/> if you have any questions, you can contact us via the following e-mail address: <a href="mailto:discholed@inria.fr?subject=Questions/Notifications about DiScholEd" style="font-weight: bold; text-decoration: underline;">discholed@inria.fr</a>
                </p>
                                </paper-listbox>
                            </paper-menu-button>
        
    </pb-media-query>

    <!-- Search input -->
    <pb-search action="${app}/search.html" data-template="pages:parse-params" value="${query}" redirect="redirect"/>
    <pb-media-query query="min-width: 1024px">
       <!-- language selector -->
       <pb-lang name="lang" data-template="pages:languages"/>
    </pb-media-query>
    <pb-login id="login" group="tei">
    </pb-login>
    <paper-dialog id="downloadDialog">
        <h2>
            <pb-i18n key="dialogs.generatingFile">Generating file ...</pb-i18n>
        </h2>
        <paper-dialog-scrollable>
            <pb-i18n key="dialogs.downloadMessage"/>
        </paper-dialog-scrollable>
        <div class="buttons">
            <paper-button dialog-confirm="dialog-confirm" autofocus="autofocus">
                <pb-i18n key="dialogs.close">Close</pb-i18n>
            </paper-button>
        </div>
    </paper-dialog>
</app-toolbar>