<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
        <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64"/>

        <title data-template="config:app-title"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald&amp;display=swap"/>
        <link rel="stylesheet" href="resources/css/discholed.css"/>
        <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"/>
        <script type="module" src="pb-odd-editor.js" data-template="pages:load-components"/>
        <style>
        main {
            margin: 0 20px;

            --paper-input-container: {
                padding: 0;
            }

            --paper-dialog-title: {
                margin-top: 0;
                padding: 12px;
                background-color: #607D8B;
                color: #F0F0F0;
            }
        }

        pb-odd-editor {
            height: calc(100vh - 64px);
        }

        .CodeMirror-lint-tooltip {
            background-color: #ffd;
            border: 1px solid black;
            border-radius: 4px 4px 4px 4px;
            color: black;
            font-family: monospace;
            font-size: 10pt;
            overflow: hidden;
            padding: 2px 5px;
            position: fixed;
            white-space: pre;
            white-space: pre-wrap;
            z-index: 100;
            max-width: 600px;
            opacity: 0;
            transition: opacity .4s;
            -moz-transition: opacity .4s;
            -webkit-transition: opacity .4s;
            -o-transition: opacity .4s;
            -ms-transition: opacity .4s;
        }       
        </style>
    </head>
    <body>
        <pb-page data-template="pages:pb-page" locales="resources/i18n/{{ns}}/{{lng}}.json" unresolved="unresolved">
            <app-header-layout>
                <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                    <app-toolbar class="menubar">
                        <a href="${app}/index.html" class="logo" data-template="pages:parse-params">
                            <pb-i18n key="menu.start">Home</pb-i18n>
                        </a>
                        <paper-menu-button>
                                    <a href="#" slot="dropdown-trigger">
                                <pb-i18n key="menu.doc">Documents</pb-i18n>
                            </a>
                                    <paper-listbox slot="dropdown-content">
                                        <paper-item>
                                            <a href="${app}/index.html?collection=Corpus" data-template="pages:parse-params">
                                        <pb-i18n key="collection.corpus.title">Corpus</pb-i18n>
                                    </a>
                                        </paper-item>
                                        <paper-item>
                                            <a href="${app}/index.html?collection=Index" data-template="pages:parse-params">
                                        <pb-i18n key="collection.index.title">Indexes</pb-i18n>
                                    </a>
                                        </paper-item>
                                        <paper-item>
                                            <a href="${app}/index.html?collection=Guidelines" data-template="pages:parse-params">
                                        <pb-i18n key="collection.guidelines.title">Documentation</pb-i18n>
                                    </a>
                                        </paper-item>
                                    </paper-listbox>
                                </paper-menu-button>

                        <pb-media-query query="min-width: 1024px">
                            <!-- language selector -->
                            <pb-lang name="lang" data-template="pages:languages"/>
                        </pb-media-query>
                        <pb-login id="login" group="tei">
                        </pb-login>
                        <pb-progress indeterminate="indeterminate" bottom-item="bottom-item"/>
                    </app-toolbar>
                </app-header>
                <main>
                    <pb-odd-editor data-template="pages:odd-editor">
                    </pb-odd-editor>
                </main>
            </app-header-layout>
        </pb-page>
        <div class="splash"/>
    </body>
</html>