<html>

<head>
    <meta charset="utf-8"/>
    <title>History of the corpus</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
    <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald"/>
    <link rel="stylesheet" href="resources/css/discholed.css"/>
    <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"/>
    <custom-style>
            <style>
                h1 {
                    font-family: "Oswald",Verdana,"Helvetica",sans-serif;
                    font-weight: 400 !important;
                    line-height: 1.2;
                }
                
                body {
                    --pb-splash-image-size: 360px auto;
                    --pb-splash-background-color: black;
                }
                
                .splash {
                    background-image: url("../../ressources/images/github.svg"); 
                    position: fixed;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    visibility: hidden;
                    opacity: 0;
                    background-color: #212D40;
                    background-position: center center;
                    background-size: var(--pb-splash-image-size);
                    background-repeat: no-repeat;
                    transition: visibility 0s linear 300ms, opacity 300ms;
                }
                pb-page[unresolved]~.splash {
                    visibility: visible;
                    opacity: 1;
                    transition: visibility 0s linear 0s, opacity 300ms;
                }
                
                .main-title {
                    font-size: 18px;
                    margin: 3%;
                    }
                
                .drawer-content a,
                .drawer-content a:visited {
                    color: #131821;
                    text-decoration: none;
                }
                
                .container {
                margin: 8px 18px;
                height: calc(100vh - 128px);
                overflow: auto;
                flex: 3 0;
                }
    
            .content-body {
                position: relative;
                display: flex;
                justify-content: center;
                margin: 0;
                color: #131821;
            }
            
            h2 {
                font-size: 26px;
            }
            
            h3 {
                text-decoration: underline;
            }
    
            aside {
                flex: 1 0;
                min-width: 360px;
                max-width: 480px;
                margin-right: 16px;
                background-color: #f8f9fa;
            }
                </style>
        </custom-style>
</head>

<body>
        <pb-page data-template="pages:pb-page" locales="resources/i18n/{{ns}}/{{lng}}.json" unresolved="unresolved">
        <app-drawer-layout force-narrow="force-narrow">
            <app-drawer slot="drawer" align="right">
                <div class="drawer-content">
                    <pb-media-query query="(max-width: 1023px)">
                            <!-- language selector -->
                            <pb-lang name="lang" data-template="pages:languages"/>
                        </pb-media-query>
                    </div>
                </app-drawer>
                <app-header-layout>
                <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                <app-toolbar data-template="templates:include" data-template-path="templates/menu_nodownload.html"/>
                <app-toolbar class="toolbar" sticky="sticky">
                            <a href="${app}/index.html?collection=nachlassprojekt" title="" data-template="pages:parse-params">
                                <paper-icon-button icon="icons:folder-open"/>
                            </a>
                        </app-toolbar>
                </app-header>
            
            <main>
            <section class="content-body">
                <aside>
                    <div class="drawer-content">
                        <h1 class="main-title">History of the corpus</h1>
                        <ul>
                            <li>
                                <a href="#corpus">The corpus</a>
                                <ul>
                                    <li>
                                        <a href="#about">About</a>
                                    </li>
                                    <li>
                                        <a href="#conservation">Conservation</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#authors">The author : August Boeckh</a>
                            </li>
                        </ul>
                    </div>
                </aside>
                <div class="container">
                    <div>
                        <h2 id="corpus">The corpus</h2>
                        <div>
                            <h3 id="about">About</h3>
                            <p>TThe Boeckh Nachlassprojekt is a catalogue of manuscripts either by the hand of August Boeckh himself or in which he left a significant trace. This includes material from his decades long activity as a dean, chair of various commissions and director of the Philological Seminar at the Berlin University between 1811 and his death in 1867. The archival material was consulted in culture heritage institutions (whom we thank warmly) and annotated for the needs of cataloguing in the specific context of a collection dedicated to Boeckh himself. This perspective gave their orientation to the information choices that were made in the conception of the manuscript summaries. Presenting the catalogue in the format we offer here facilitates an upcoming transformation from the catalogue entry to a full-fledged digital scholarly edition of the corresponding manuscript. </p>
                        </div>
                        <div>
                            <h3 id="conservation">Conservation</h3>
                            <p>The corpus is kept in multiple institutions: <ul>
                            <li>Archive of the Berlin-Brandenburg Academy of Sciences and Humanities</li>
                            <li>Berlin State Library</li>
                            <li>Prussian Privy State Archives</li>
                            <li>Archive of the Humboldt University of Berlin</li>
                            <li>Other institutions</li>
                            </ul>
                                        </p>
                        </div>
                    </div>
                    <div>
                        <h2 id="authors">The author : August Boeckh</h2>
                            <p>Classical philologist August Boeckh's (1785–1867) exceptional relevance for the history of science and science policy
                                is generally accepted but only rarely researched. At the Prussian Academy of Science he supported scientific progress
                                by initiating large-scale projects, e.g. the "Corpus Inscriptionum Graecarum”. From 1811 onwards he taught at the
                                Berlin university and helped to shape its very structure as dean of the faculty for arts and humanities, rector of the
                                university, and founder of the immensely successful philologic seminar (1812). Boeckh influenced greatly the
                                development of the university in the first 50 years of its existence.</p>
                    </div>
                </div>
            </section>
        </main>
            <footer class="version">
                    App: v<span data-template="pages:version"/> /
                    web components: v<pb-version/> / <a href="https://creativecommons.org/licenses/by/3.0/deed.en" target="_blank">Attribution 3.0 Unported (CC BY 3.0)</a>
                </footer>
                </app-header-layout>
            </app-drawer-layout>
        </pb-page>
                <div class="splash">
            <h1 style="font-size: 150px;color: white; text-align: center;display: flex; justify-content: center; align-items: center; height: 80vh;">DiScholEd - Digital Scholarly Editions</h1>
        </div>
    </body>

</html>