<html>

<head>
    <meta charset="utf-8"/>
    <title>History of the corpus</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
    <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64"/>
    <link rel="stylesheet" type="text/css" href="resources/fonts/font.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald&amp;display=swap"/>
    <link rel="stylesheet" href="resources/css/discholed.css"/>
    <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"/>
    <custom-style>
            <style>
                h1 {
                    font-family: "Oswald",Verdana,"Helvetica",sans-serif;
                    font-weight: 400 !important;
                    line-height: 1.2;
                }
                body {
                    --pb-splash-image-size: 360px auto;
                    --pb-splash-background-color: black;
                }
                
                .splash {
                    background-image: url("../../ressources/images/github.svg"); 
                    position: fixed;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    visibility: hidden;
                    opacity: 0;
                    background-color: #212D40;
                    background-position: center center;
                    background-size: var(--pb-splash-image-size);
                    background-repeat: no-repeat;
                    transition: visibility 0s linear 300ms, opacity 300ms;
                }
                pb-page[unresolved]~.splash {
                    visibility: visible;
                    opacity: 1;
                    transition: visibility 0s linear 0s, opacity 300ms;
                }
            
                .main-title {
                    font-size: 18px;
                    margin: 3%;
                    }
                
                .drawer-content a,
                .drawer-content a:visited {
                    color: #131821;
                    text-decoration: none;
                }
                
                .container {
                margin: 8px 18px;
                height: calc(100vh - 128px);
                overflow: auto;
                flex: 3 0;
                }
    
            .content-body {
                position: relative;
                display: flex;
                justify-content: center;
                margin: 0;
                color: #131821;
            }
            
            h2 {
                font-size: 26px;
            }
            
            h3 {
                text-decoration: underline;
            }
    
            aside {
                flex: 1 0;
                min-width: 360px;
                max-width: 480px;
                margin-right: 16px;
                background-color: #f8f9fa;
            }
                </style>
        </custom-style>
</head>

<body>
        <pb-page data-template="pages:pb-page" locales="resources/i18n/{{ns}}/{{lng}}.json" unresolved="unresolved">
         <app-drawer-layout force-narrow="force-narrow">
                <app-drawer data-template="templates:include" data-template-path="templates/drawer.html"/>
                <app-header-layout>
                    <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                        <app-toolbar data-template="templates:include" data-template-path="templates/menu_nodownload.html"/>
                        <app-toolbar class="toolbar" sticky="sticky">
                            <a href="${app}/index.html?collection=cds" title="" data-template="pages:parse-params">
                                <paper-icon-button icon="icons:folder-open"/>
                            </a>
                        </app-toolbar>
                    </app-header>
            
            <main>
            <section class="content-body">
            <aside>
                <div class="drawer-content">
                <h1 class="main-title">History of the corpus</h1>
                <ul>
                    <li>
                        <a href="#corpus">The corpus</a>
                        <ul>
                            <li>
                                <a href="#about">About</a>
                            </li>
                            <li>
                                <a href="#conservation">Conservation</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#authors">The authors </a>
                        <ul>
                            <li>
                                <a href="#CDS">Constance de Salm</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                </div>
            </aside>
            
            <div class="container">
            <div>
                <h2 id="corpus">The corpus</h2>
                <div>
                <h3 id="about">About</h3>
                <p>The corpus of letters from and to Constance de Salm comprises a total of around 11,000 letters and documents, which are kept in two different archives. More than half of the letters are transcripts that Constance de Salm had made during her lifetime with the aim of editing her correspondence. The main part of the collection dates from the years 1798-1844 and includes about 350 authors and recipients. The letters offer unique insights into the literary and scientific life in Paris during these years. They also shed light on the prerequisites and conditions of female authorship and illustrate the mechanisms of networks and transfer processes between the Rhineland and France in the first half of the 19th century.</p>
                <p>The German Historical Institute Paris has digitised and inventoried the correspondence of Constance de Salm and made it accessible online. The indexing database, the digital copies and further information can be found here: <a href="https://constance-de-salm.de/">https://constance-de-salm.de/</a>.</p>
                <p>The digital edition of some letters from the corpus shown here is the result of a four-month project to develop a semi-automated workflow from handwriting recognition to the creation of a TEI/XML edition. Further information: <a href="https://dhiha.hypotheses.org/2945">https://dhiha.hypotheses.org/2945</a>.</p>
                    </div>
                    
                <div>    
                <h3 id="conservation">Conservation</h3>
                <p>The holdings come from the Fonds Salm of the Société des Amis du Vieux Toulon et de sa Région (about 8000 letters) and from the Archiv Schloss Dyck, member archive of the Vereinigte Adelsarchive im Rheinland e.V. (about 3000 letters). Further information: <a href="https://constance-de-salm.de/bestaende/">https://constance-de-salm.de/bestaende/</a>. </p>
                    </div>
                    </div>
                <div>
                <h2 id="authors">The author</h2>
                <div>
                <h3 id="CDS">Constance de Salm</h3>
                <p>Constance de Salm (1767-1845) was one of the most successful French writers of her era. Born Constance Marie de Théis in Nantes, she published her first essays at the age of 18. In 1794, she made her big breakthrough with the libretto for the musical drama “Sapho”. Until her death, numerous widely acclaimed poems and panegyrics followed, as well as a novel ("Vingt-quatre heures de la vie d'une femme sensible"). In her works, Constance de Salm took a stand on current socio-political issues, including the education of women and their role in society. Constance de Salm was also the first woman to be admitted to the select circle of the Paris Athénée des arts, an association of artists and scholars. In her Parisian salon, Constance de Salm gathered around her an illustrious circle of friends, including renowned writers, scholars, and artists of her time, with whom she simultaneously conducted this extensive correspondence.</p>
                    </div>
            </div>
            </div>
            </section>
        </main>
            <footer class="version">
                    App: v<span data-template="pages:version"/> /
                    web components: v<pb-version/> / <a href="https://creativecommons.org/licenses/by/3.0/deed.en" target="_blank">Attribution 3.0 Unported (CC BY 3.0)</a>
                </footer>
             </app-header-layout>
            </app-drawer-layout>
        </pb-page>
                <div class="splash">
            <h1 style="font-size: 150px;color: white; text-align: center;display: flex; justify-content: center; align-items: center; height: 80vh;">DiScholEd - Digital Scholarly Editions</h1>
        </div>
    </body>

</html>